
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="/login">
      <img style="height: 40px" src="../assets/maveric-logo-updated.png" /></a>
    <a class="ml-auto" routerLink="/login">Logout</a>
  </nav>
</header>

<!--Router App View-->
<router-outlet></router-outlet>
<!--Router App View-->

<footer class="text-center bg-primary text-white pt-3 pb-2">
  <div class="container">
    <p>Copyright @2022 Maveric Systems In</p>
  </div>
</footer>