<section>
    <div class="container">
        <div class="card shadow mt-5 mb-5">
            <div class="card-header text-center">
                <b>Admin Details Page</b>
            </div>
            <div class="card-body">
                <p>Sreeharsha K A Jois</p>
                <p>Saving Account : 23234567</p>
                <p>Closing Balance</p>
            </div>
        </div>
        <div class="card shadow mt-5 mb-5">
            <div class="card-body">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Naration</th>
                        <th scope="col">Ref Number</th>
                        <th scope="col">Date</th>
                        <th scope="col">Withdrawal</th>
                        <th scope="col">Deposit</th>
                        <th scope="col">Closing balance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Maveric system salary</th>
                        <td>232323323</td>
                        <td>02-05-2022</td>
                        <td></td>
                        <td>5000</td>
                        <td>15000</td>
                      </tr>
                      <tr>
                        <th scope="row">Maveric system salary</th>
                        <td>232323323</td>
                        <td>02-05-2022</td>
                        <td>5000</td>
                        <td>5000</td>
                        <td>15000</td>
                      </tr>
                      <tr>
                        <th scope="row">Maveric system salary</th>
                        <td>232323323</td>
                        <td>02-05-2022</td>
                        <td>5000</td>
                        <td>5000</td>
                        <td>15000</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>